{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">About Us</h1>
                            <p class="lead text-white-50 mb-4">Welcome to Rich One Designs. Check out our apps at the Apple Store!</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
        				<p align="justify">
        				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit nisl ac iaculis porttitor. Mauris condimentum, massa ac mattis condimentum, orci purus tincidunt nulla, a hendrerit nisl lacus vitae tellus. Nullam fermentum eros eu dolor viverra pretium. Aenean ligula sem, sollicitudin nec justo vitae, malesuada elementum ligula.
        				<br/><br/>
        				Cras molestie mollis tellus rhoncus maximus. Suspendisse venenatis enim et nisl varius lobortis. Curabitur ullamcorper dui quis leo accumsan, id porta ipsum consequat. Duis libero turpis, dignissim sit amet turpis nec, laoreet porta est. Duis dictum risus arcu, venenatis tempor ante rutrum vitae. Nulla mauris ante, placerat sit amet enim quis, interdum feugiat odio. Vivamus tincidunt sagittis tellus id pretium.
        			</p>
        			<br/><br/>


        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}