{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">About Us</h1>
                            <p class="lead text-white-50 mb-4">Welcome to Rich One Designs. Check out our apps at the Apple Store!</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
        				<p align="justify">
        				Under Construction
        			</p>
        			<br/><br/>


        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}