{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Privacy Policies</h1>
                            <p class="lead text-white-50 mb-4">At Rich One Designs we take your privacy seriously.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        <center>
        <div class="card w-75 mb-3">
          <div class="card-body">
            <h5 class="card-title">Basketball Tracker</h5>
            <ol class="list-group list-group-numbered list-group-flush text-start">
              <li class="list-group-item">Data Collection: Data collected by BasketballTracker is stored in your phone and not shared with third parties. It is only used to store game information.</li>
              <li class="list-group-item">No Sign-in or Accounts: The app does not require user accounts, sign-ups, or any form of registration.</li>
              <li class="list-group-item">No Third Party Sharing: We do not share any personal information with third parties, advertisers, or analytics providers. The app collects no personal information about you.</li>
              <li class="list-group-item">No Analytics or Tracking: The app does not use cookies, trackers, or analytics services (like Google Analytics) to monitor user behavior.</li><li class="list-group-item"></li>
              <li class="list-group-item">Device Permissions: The app does not request permisssions for camera and location  and does not access or store any information.</li>
              <li class="list-group-item">Updates to Policy: This policy may be updated to reflect changes in app functionality. We will notify users of significant changes within the app.</li>
              <li class="list-group-item">If you have questions about this privacy policy or want to find out more about our apps, contact us and leave a comment on our website.</li>
            </ol>
            
          </div>
        </div>


        <div class="card w-75 mb-3">
          <div class="card-body">
            <h5 class="card-title">Vegan Dine</h5>
            <ol class="list-group list-group-numbered list-group-flush text-start">
              <li class="list-group-item">No Data Collection: Vegan Dine does not collect, store, or process any data from you.</li>
              <li class="list-group-item">No Sign-in or Accounts: The app does not require user accounts, sign-ups, or any form of registration.</li>
              <li class="list-group-item">No Third Party Sharing: We do not share any user data with third parties, advertisers, or analytics providers, as we collect no data in the first place.</li>
              <li class="list-group-item">No Analytics or Tracking: The app does not use cookies, trackers, or analytics services (like Google Analytics) to monitor user behavior.</li>
              <li class="list-group-item">Device Permissions: The app does not request permisssions for camera and location  and does not access or store any information.</li>
              <li class="list-group-item">Children's Privacy: The app is not directed towards children under 13, and we do not knowingly collect any personal information from them.</li>
              <li class="list-group-item">Updates to Policy: This policy may be updated to reflect changes in app functionality. We will notify users of significant changes within the app.</li>
              <li class="list-group-item">If you have questions about this privacy policy or want to find out more about our apps, contact us and leave a comment on our website.</li>
              
            </ol>  
          </div>
        </div>

        <div class="card w-75 mb-3">
          <div class="card-body">
            <h5 class="card-title">CanInvest</h5>
            <ol class="list-group list-group-numbered list-group-flush text-start">
              <li class="list-group-item">CanInvest does not collect or store, or process any personal information from its users.</li>
              <li class="list-group-item">The app does not require user accounts, sign-ups, or any form of registration.</li>
              <li class="list-group-item">We do not share any user data with third parties, advertisers, or analytics providers, as we collect no data in the first place.</li>
              <li class="list-group-item">The app does not use cookies, trackers, or analytic services (like Google Analytics) to monitor user behaviour.</li>
              <li class="list-group-item">The app does not use location, camera, or microphone services.</li>
              <li class="list-group-item">The app is not directed for children under 13, and we do not knowingly collect any personal information from them.</li>
              <li class="list-group-item">This policy may be updated to reflect changes in app functionality. We will notify users of signicant changes within the app.</li>
              <li class="list-group-item">If you have any questions about this policy contact us.</li>
            </ol>  
          </div>
        </div>
      </center>
      
        <br/><br/>
        <center>
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        </center>

{% endblock %}